@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Material Definitions <a href="https://localhost:5001/MaterialDefinitions/?pageIndex=1">Material Definitions</a>.</p>
    <p>Material Lots <a href="https://localhost:5001/MaterialLots/?pageIndex=1">Material Lots</a>.</p>
    <p>Material Requirements <a href="https://localhost:5001/MaterialRequirements/?pageIndex=1">Material Requirements</a>.</p>
    <p>Work Orders <a href="https://localhost:5001/WorkOrders/?pageIndex=1">Work Orders</a>.</p>
    <p>Equipments <a href="https://localhost:5001/Equipments/?pageIndex=1">Equipments</a>.</p>
    <p>Personnels <a href="https://localhost:5001/Personnels/?pageIndex=1">Personnels</a>.</p>


</div>
